{% extends "base.html" %} 

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> All the blogs </h1>
    </div>
</div>

<div class="container">
    {% for blog in blogs %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="/blog/{{blog.key().id()}}">{{blog.title}}</a>
                    <span class="pull-right">
                        <a href="/blog/{{blog.key().id()}}">Blog Id- {{blog.key().id()}}</a>
                            <!--Blog Id- {{blog.key()}}-->
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <!--<pre class="blog-description">
                    {{blog.description}}
                </pre>-->
                <p>Created Date: {{blog.created.strftime("%b %d, %Y")}}</p>
                <hr>
                <p class="blog-description">
                    {{blog.description.replace('\n', '<br>') | safe}}
                </p>
            </div>
        </div>
    {% endfor %} 
</div>



{% endblock %}