{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> All the blogs </h1>
    </div>
</div>

<div class="container">
    {% if alert: %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Heads up!</strong> {{alert}}
    </div>
    {% endif %} 
    
    {% for blog in blogs %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6"><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
                        <div class="col-xs-6 text-right"><a href="/blog/{{blog.key().id()}}"><span> Post Date: {{blog.created.strftime("%b %d, %Y")}}</span></a></div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            <!--<pre class="blog-description">
                    {{blog.description}}
                </pre>-->
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="48" width="48">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                            {% if currentUser: %}
                                <span>Author: {{currentUser}}</span>
                            {% endif %}
                    </div>
                <hr>
                <p>
                    {{blog.description.replace('\n', '<br>') | safe}}
                </p>
            </div>
            </div>
            <div class="panel-footer panel-primary">
                <div class="row">
                    <form id="formLikedBlog" action="/blog/{{blog.key().id()}}/like" method="POST">
                        <div class="col-xs-6">
                            <a id="linkLikedBlog"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
                            <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{blog.likeCount}}</a>
                            <input type="text" name="likedBlog" value="{{blog.key()}}" hidden>
                        </div>
                    </form>
                    <div class="col-xs-6 text-right">
                        <a href="/blog/addcomment/{{blog.key().id()}}"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
                        <a href="/blog/{{blog.key().id()}}" ><i class="fa fa-comments" aria-hidden="true"></i> Comments: {{blog.commentCount}}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
  </div>

{% endblock %}