{% extends "base.html" %} {% block content %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Read All the Blogs Here. </h1>
    </div>
</div>

<div class="container">
    {% if alert: %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Heads up!</strong> {{alert}}
    </div>
    {% endif %} 
    
    {% for blog in blogs %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6"><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
                        <div class="col-xs-6 text-right">
                            {% if currentUser==blog.username %}
                                <a href="#" class="btn btn-success btn-xs">Edit</a>
                                <a href="/blog/deleteblog/{{blog.key().id()}}" class="btn btn-danger btn-xs">Delete</a>
                            {% endif %}
                            <a href="/blog/{{blog.key().id()}}"><span title="Read More"> <i class="fa fa-expand" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="48" width="48">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Author: {{blog.username}}
                            </div>
                            <div class="col-xs-6 text-right">
                                <span> Post Date: {{blog.created.strftime("%b %d, %Y")}}</span>
                            </div>
                        </div>
                    </h4> 
                </div>
                <hr>
                <p class="text-justify">
                    {{blog.description.replace('\n', '<br>') | safe}}
                </p>
            </div>
            </div>
            <div class="panel-footer panel-primary">
                <div class="row">
                    <form id="formLikedBlog" action="/blog/{{blog.key().id()}}/like" method="POST">
                        <div class="col-xs-6">
                            <a id="linkLikedBlog"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
                            <a><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{blog.likeCount}}</a>
                            <input type="text" name="likedBlog" value="{{blog.key()}}" hidden>
                        </div>
                    </form>
                    <div class="col-xs-6 text-right">
                        <a href="/blog/addcomment/{{blog.key().id()}}"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
                        <a href="/blog/{{blog.key().id()}}" ><i class="fa fa-comments" aria-hidden="true"></i> Comments: {{blog.commentCount}}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
  </div>

{% endblock %}