{% extends "base.html" %} 

{% block content %}

<div class="container">
    {% if alert: %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{alert}}
        </div>
    {% endif %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Please Enter Your Login Information
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/login" method="POST" >
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 error">
                        {{error}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUserName" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUserName" placeholder="Username" name="username" value="{{username}}" required pattern="^[A-Za-z0-9_]{4,15}$" title=" Username length requirement is 4 to 20 characters, can only be alphanumeric and can have underscore _ char">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required pattern=".{4,20}" title="Password must have between 4 to 20 characters">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                {% if checkRememberMe == "on" : %}
                                    <input type="checkbox" name="checkRememberMe" checked="checked"> Remember me
                                {% else : %}
                                    <input type="checkbox" name="checkRememberMe"> Remember me
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Log Me In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}