{% extends "base.html" %} 
{% block content %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6"><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
                        <div class="col-xs-6 text-right">
                            <a href="#" class="btn btn-success btn-xs">Edit</a>
                            <a href="/blog/deleteblog/{{blog.key().id()}}" class="btn btn-danger btn-xs">Delete</a>
                        </div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="120" width="120">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Author: {{blog.username}}
                            </div>
                            <div class="col-xs-6 text-right">
                                <span> Post Date: {{blog.created.strftime("%b %d, %Y")}}</span>
                            </div>
                        </div>
                    </h4> 
                    <hr>
                    {{blog.description.replace('\n', '<br>') | safe}}
                </div>
            </div>
        </div>
        <div class="panel-footer panel-primary">
            <div class="row">
                <form id="formLikedBlog" action="/blog/{{blog.key().id()}}/like" method="POST">
                    <div class="col-xs-6">
                        <a id="linkLikedBlog"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
                        <a id="linkLikedBlog"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{blog.likeCount}}</a>
                        <input type="text" name="likedBlog" value="{{blog.key()}}" hidden>
                    </div>
                </form>
                <form id="formCommentBlog" action="/blog/{{blog.key().id()}}/addcomment" method="POST">
                    <div class="col-xs-6 text-right">
                        <a href="/blog/addcomment/{{blog.key().id()}}"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
                        <a><i class="fa fa-comments" aria-hidden="true"></i> Comments: {{blog.commentCount}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">User Comments</div>
                        <div class="col-xs-6 text-right"> Total Comments: {{blog.commentCount}}</div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            <!--{% for eachComment in comments %}
                {{eachComment.comment}}
            {% endfor %} -->

            {% for comment in comments %}
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="64" width="64">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span>Author: {{comment.username}}</span>
                        </h4> 
                        <!--Look, I'm in a well!-->
                        {{comment.comment}}
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}