{% extends "base.html" %} 
{% block content %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6"><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
                        <div class="col-xs-6 text-right">
                            {% if currentUser==blog.username %}
                                <a href="/blog/editblog/{{blog.key().id()}}" class="btn btn-success btn-xs">Edit</a>
                                <a href="/blog/deleteblog/{{blog.key().id()}}" class="btn btn-danger btn-xs">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="120" width="120">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Author: {{blog.username}}
                            </div>
                            <div class="col-xs-6 text-right">
                                <span> Post Date: {{blog.created.strftime("%b %d, %Y")}}</span>
                            </div>
                        </div>
                    </h4> 
                    <hr>
                    <p class="text-justify">
                        {{blog.description | safe}}
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer panel-primary">
            <div class="row">
                <div class="col-xs-6">
                    {% if currentUser!=blog.username %}
                        <a href="/blog/like/{{blog.key().id()}}" id="linkLikedBlog"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
                    {% endif %}
                    <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{blog.likeCount}}</span>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="/blog/addcomment/{{blog.key().id()}}"><i class="fa fa-comments" aria-hidden="true"></i> Comment</a>
                    <span><i class="fa fa-comments" aria-hidden="true"></i> Comments: {{blog.commentCount}}</span>
                </div>
            </div>
        </div>
    </div>

    <!--panel for likes-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">User Likes</h3>
        </div>
        <div class="panel-body">
            {% for like in likes %}
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="64" width="64">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{like.username}}
                                </div>
                            </div>
                        </h4>
                        <p class="text-justify">
                            Like Date: {{like.likeDate.strftime("%b %d, %Y")}}
                        </p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--panel for comments-->
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            User Comments
                        </div>
                        <div class="col-xs-6 text-right"> Total Comments: {{blog.commentCount}}</div>
                    </div>
                </h3>
        </div>
        <div class="panel-body">
            {% for comment in comments %}
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="user icon" height="64" width="64">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    Commentor: {{comment.username}}
                                </div>
                                <div class="col-xs-6 text-right">
                                    <span> Comment Date: {{comment.commentDate.strftime("%b %d, %Y")}}</span>
                                    {% if currentUser==comment.username %}
                                        <a href="/blog/editcomment/{{comment.key().id()}}" class="btn btn-success btn-xs">Edit</a>
                                        <a href="/blog/deletecomment/{{comment.key().id()}}" class="btn btn-danger btn-xs">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </h4>
                        <p class="text-justify">
                            {{comment.comment}}
                        </p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    {% endblock %}